
.topnav{
    position: fixed;
    z-index: 2;
}
.topnav-link-a-display{
    padding-left: 20%;
}
.topnav-link-a{
    display: inline-block;
    margin: 0% 4%;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.topnav-link-img{
    margin: 0% 5px;
    border-radius: 50%;
    border:4px solid white;
    cursor: pointer;
}

.header-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white; 
    border-radius: 25px; 
    color: white; 
    width: 100%;
    height: 100%;
    cursor: pointer;
}