
.header{
    background-size: cover; 
    background-position: center;
    width: 100%; 
    height: 700px; 
    position: relative;
}
.header-text-content{
    position: relative;
    z-index: 1;
}
.header-text-content-child{
    padding: 15% 0% 0% 10%;
}
.header-text-content-btn-display{
    display: flex;
    margin-top: 3.5%;
}
.header-text-content-btn{
    display: inline-block;
    border: 1px solid white; 
    border-radius: 25px; 
    color: white; 
    cursor: pointer;
    width: 100px;
    padding: 10px 0px;
    margin: 0px 5px;
}
.header-img-decor-1{
    position: absolute; 
    top: 18%; 
    right: 15%; 
    width: 35%;
}

.topnav{
    display: flex; 
    width: 100vw; 
    height: 100px; 
    border-bottom: 0px solid red; 
    align-items: center;

    position: fixed;
    z-index: 2;
}
.topnav.scrolled {
    background-color: #13a7f7;
    transition: .25s;
}
.topnav-child-1{
    padding:0vw 10vw; 
    display: flex;  
    height: 100%;
}
.topnav-logo-display{
    display: flex; 
    width: 13.7%; 
    height: 100%; 
    display: flex; 
    align-items: center;
}
.topnav-link-container{
    display: flex; 
    height: 100%; 
    width: 70%; 
    align-items: center;

    padding-left: 20%;
}
.topnav-link-container a{
    display: inline-block;
    margin: 0vw 1.2vw;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.topnav-socialbtn-container{
    display: flex; 
    height: 100%; 
    align-items: center; 
}
.topnav-socialbtn-container img{
    display: inline-block;
    margin: 0% 5px;
    border-radius: 50%;
    border:4px solid white;
    cursor: pointer;
}

.topnav-menu-icon{
    display: none; 
    height: 100%; 
    width: 40px; 
    align-items: center; 
    margin-left: auto; 
    border: 0px solid red;
}

.topnav-menu-icon-child{
    display: inline-block;
    width: 100%;
    height: auto;
}
.topnav-menu-icon-child div{
    width: 100%;
    height: 7%;
    background-color: white;
    margin: 6px 0;
}

.menu-1{
    width: 100%; 
    height: auto;
}
.menu-1-child{
    width: 100%; 
    height:450px;
}
.menu-1-box-display{
    display: flex; 
    width: 100%; 
    height: 100%;
}
.menu-1-box{
    border: 0px solid red; 
    width: 33.33%; 
    height: 100%; 
    text-align: center;
    cursor: pointer;
}
.menu-1-box h2{
    color: #444;
}
.menu-1-box p{
    color: #777;
}
.menu-1-box:hover{
    background-color: #13a7f7;
}
.menu-1-box:hover h2{
    color: #fff;
}
.menu-1-box:hover p{
    color: #fff;
}

.banner{
    display: flex; 
    width: 100%; 
    height: 100%; 
    background-size: cover; 
    background-position: center; 
    align-items: center;
}

.mockup{
    width: 100%;
    height: 500px;
    text-align: center;
    margin: 100px 0px;
}
.mockup-child{
    display: inline-block;
    width: 80%;
    height: 100%;
    position: relative;
    border: 0px solid red;
    text-align: left;
}
.mockup-bg{
    display: inline-block; 
    position: absolute;
    left: 0%;
    top: 0%;
    width: 40%;
    height: 100%;
    border: 0px solid red;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.mockup-part-right{
    display: inline-block; 
    position: absolute;
    top: 25%;
    right: 0%;
    width: 50%;
    border: 0px solid red;
}
.mockup-part-right-btn{
    display: inline-block;
    padding: 15px 25px;
    border-radius: 25px; 
    background-color: #149DE5; 
    color: white; 
    cursor: pointer; 
    font-weight: bold;
}

@media only screen and (max-width:1000px) {

.topnav-socialbtn-container{
    display: none;
}
}

@media only screen and (max-width:500px) {
    /* For mobile phones(500px), For tablets(800px): */

.header{
    background-image: url(Pictures/bg_01.png); 
    background-size: auto 100%; 
    background-position: center;
    width: 100%; 
    height: 999px; 
    position: relative;
}
.header-img-decor-1{
    position: static; 
    top: 0; 
    right: 0; 
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 20%;
}
.header-img-decor-1 div{
    width: 75%;
}
.header-text-content{
    text-align: left;
}
.header-text-content-child{
    display: inline-block;
    padding: 15% 0% 0% 10%;
}
.header-text-content-btn-display{
    margin-top: 11%; 
    width: 100%;
}
.header-text-content-btn{
    width: 40%;
    height: 5%;
}

.topnav-logo-display{
    display: flex; 
    width: 40%; 
    height: 100%; 
    display: flex; 
    align-items: center;
}
.topnav-link-container{
    display: none;
}
.topnav-socialbtn-container{
    display: none;
}
.topnav-menu-icon{
    display: flex;
}

.menu-1{
    width: 100%; 
    height: auto;
}
.menu-1-child{
    width: 100%; 
    height:1350px;
}
.menu-1-box-display{
    display: block; 
}
.menu-1-box{
    border: 0px solid red; 
    width: 100%; 
    height: 33.33%; 
    text-align: center;
}

.banner{
    background-size: auto 100%; 
}

.mockup{
    width: 100%; 
    height: 800px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-bottom: 125px;
}
.mockup-part-display{
    display: inline-block; 
    width: 80%; 
    height: 80%;
}
.mockup-part-left{
    display: inline-block; 
    width: 100%; 
    height: 100%; 
    border: 0px solid red;
}
.mockup-part-right{
    display: inline-block; 
    padding: 2% 10% 0% 10%; 
    border: 0px solid red;
}
.mockup-part-right-btn{
    width: 55%; 
    height: 8%; 
   
}




}